<!DOCTYPE html>
<html lang="<%- meta.language -%>">
	<head>
		<title><%- meta.title -%></title>
		<meta charset="utf-8">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0">
		<link rel="manifest" href="/manifest.json">
		<link rel="icon" type="image/png" href="/assets/i/icon@16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/assets/i/icon@32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/assets/i/icon@96x96.png" sizes="96x96">
		<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
		<link rel="preconnect" href="https://use.fontawesome.com" crossorigin>
		<link rel="stylesheet" href="/assets/css/build.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i,800">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<script>window.__INITIAL_STATE__=<%- initialState -%></script>
		<script src="/assets/js/bundle.js" async defer></script>
		<meta name="theme-color" content="#9e15cc">
		
		<!-- meta tags -->
		<meta property="title" content="<%- meta.title -%>">
		<meta property="description" content="<%- meta.description -%>">
		
		<meta property="og:title" content="<%- meta.title -%>">
		<meta property="og:description" content="<%- meta.description -%>">
		
		<meta property="twitter:title" content="<%- meta.title -%>">
		<meta property="twitter:description" content="<%- meta.description -%>">
		<meta property="twitter:card" content="summary">
	</head>
	<body>
		<div id="app-root"><%- markup -%></div>
		<div id="modal-root" />
	</body>
</html>
